@import "base";
@import '../../node_modules/@angular/material/core/theming/all-theme';
@import '../../src/app/shared/components/smd-datatable/datatable-theme';
@import "../../src/app/shared/components/smd-paginator/paginator-theme";

@mixin smd-material-theme($theme) {
  @include smd-datatable-theme($theme);
  @include smd-paginator-theme($theme);
}

@include mat-core();

$primary: mat-palette($mat-light-blue);
$accent: mat-palette($mat-cyan, A200, A100, A400);
$warn: mat-palette($mat-red, A700);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
@include smd-material-theme($theme);

$primary-color: #1976D2;
.app-primary {
  $primary: mat-palette($mat-light-blue, 700, 500, 900);
  $accent: mat-palette($mat-blue-grey, A200, A100, A400);
  $warn: mat-palette($mat-red, A700);

  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);
  @include smd-material-theme($theme);
  md-card, mat-card, .mat-card {
    color: #546E7A;
  }
  .mat-card {
    &.datatable-card {
      padding: 0;
    }
  }
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  color: #546E7A;
}

html, body, material-app, md-sidenav-container, .app-content {
  margin: 0;
  height: 100%;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group-full-width {
  width: 100%;
  md-input-container {
    width: 100%;
  }
}

md-sidenav {
  width: 200px;
}

.app-navigation {
  h3 {
    background: #B0BEC5;
    border: none;
    color: #fff;
    font-size: 10px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0 16px;
    text-transform: uppercase;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      color: #607D8B;
      border-bottom: 1px solid rgba(207, 216, 220, 0.56);
      margin: 0;
      padding: 0;
      a {
        box-sizing: border-box;
        color: #607D8B;
        display: block;
        font-size: 13px;
        font-weight: 400;
        line-height: 47px;
        text-decoration: none;
        padding: 0 16px;
        position: relative;
        &:hover, &.active {
          color: $primary-color;
        }
      }
    }
  }
}

ul.links, ol.links {
  margin: 0 0 24px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 0 0 32px;
  li {
    a {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.page-title {
  background: rgba(236, 239, 241, 0.24);
  border-bottom: 1px solid #ECEFF1;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 200;
  padding: 22px 22px;
  min-height: 77px;
  .text-body {
    color: #607D8B;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    display: inline-block;
  }
  ul.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 14px;
    li {
      display: inline-block;
      color: #607D8B;
      font-size: 14px;
      &:before {
        color: #ccc;
        content: "/\00a0";
        padding: 0 5px;
      }
      &:first-child {
        &:before {
          content: '';
        }
      }
    }

  }
  @media handheld and (max-width: 480px), screen and (max-width: 480px), screen and (max-width: 900px) {
    ul.breadcrumb {
      float: none;
    }
    .text-body {
      float: none;
    }
  }
}

.alert {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  .close-button {
    position: absolute;
    right: 5px;
    top: 14px;
    padding: 0;
    min-width: 30px;
    width: 30px;
    height: 30px;
  }
}

.mat-dialog-container {
  .mat-card {
    border: 0 none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
}

.form-label {
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}

ul.user-roles {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin-right: 5px;
    &:after {
      content: ','
    }
    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}

.user-avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #B0BEC5;
  overflow: hidden;
  display: inline-block;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    max-width: 100%;
  }
  &.user-avatar-small {
    width: 30px;
    height: 30px;
  }
  &.user-avatar-allow-edit {
    cursor: pointer;
  }
}

.padding-30 {
  padding: 20px 0;
}

.media-library-wrapper {
  .mat-grid-list {
    margin-left: -5px;
    margin-right: -5px;
    position: relative;
  }
  .media-item {
    margin: 5px;
    img {
      max-width: 100%;
    }
  }
  .mat-grid-tile {

    cursor: pointer;
    &.selected {
      .media-item {
        opacity: 0.6;
      }
    }
    .media-is-selected-icon {
      position: absolute;
      z-index: 100;
      left: 45%;
      top: 45%;
    }
  }

}

.scrollable-zone {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  max-height: 400px;
}

.media-dialog-card {
  .mat-tab-label {
    .mat-icon {
      font-size: 15px;
      width: 15px;
      height: 15px;
      margin-top: 10px;
      display: inline-block;
      margin-right: 5px;
    }
  }
  .dropzone {
    min-height: 250px;

  }
  .dropzone.dz-wrapper .dz-message .dz-text {
    padding: 30px;
  }
  .scrollable-zone {
    max-height: 300px;
  }
}

.mat-toolbar-layout {
  .mat-toolbar-row {
    .user-avatar {
      width: 30px;
      height: 30px;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

}

.tree-select-option-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.12);
  min-width: 112px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 256px;
  .select-option-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    line-height: 48px;
    height: 48px;
    padding: 0 16px;
    font-size: 16px;
    font-family: Roboto, Helvetica Neue, sans-serif;
    text-align: start;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    outline: none;
    &:hover, &.selected {
      background: rgba(0, 0, 0, .04);
    }
    &.selected {
      color: $primary-color;
    }
    span.sub-item {
      display: inline-block;
      margin-right: 10px;

    }
  }

  tree-select-option {
    tree-select-option {
      margin-left: 20px;
      display: block;
    }
  }
}

.form-node-images {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 180px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      cursor: pointer;
      padding: 0;
      margin: 0;
      display: inline-block;
      width: 40px;
      height: 40px;
      padding: 5px;
      &:hover {
        opacity: 0.5;
      }
      img {
        width: 100%;
        height: auto;
        max-width: 100%;
      }
    }
  }
}

.form-taxonomy {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 180px;
  .form-taxonomy-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    line-height: 48px;
    height: 48px;
    padding: 0 16px;
    font-size: 16px;
    font-family: Roboto, Helvetica Neue, sans-serif;
    text-align: start;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    outline: none;
    &:hover, &.selected {
      background: rgba(0, 0, 0, .04);
    }
    &.selected {
      color: $primary-color;
    }
  }
}

.indentation {
  @for $i from 0 through 20 {
    $margin-left: $i*20;

    &.level-#{$i} {
      margin-left: unquote(($margin-left) + 'px ');
    }
  }
}

.mat-dialog-container .node-form-right, .node-form-right {

  .mat-card {
    margin-bottom: 15px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 0;
    .mat-card-title {
      font-size: 16px;
      text-align: center;
      color: rgba(0, 0, 0, .54);
      background: rgba(0, 0, 0, .03);
      padding: 8px 10px;
    }
    .mat-card-content {
      padding: 8px 10px;
    }

  }
}